@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    
}

a {
	text-decoration: none;
}

body{
    @apply bg-[#e4c1f9] dark:bg-slate-800 dark:text-gray-100;

}
@layer base{
input {
	@apply placeholder:text-xs placeholder:text-center  shadow-sm text-xs placeholder-slate-400 cursor-pointer mt-1 block w-60 px-3 py-2  border-2 border-[#83c5be] rounded-lg  bg-[#ffd6ff] text-slate-500 focus:outline-none focus:ring focus:ring-violet-300;
}

}

.loader{
@apply border-gray-200 rounded-full border-4 ease-linear h-10 w-10;
border-top-color:#363ce0;
animation:spinner 1.2 linear infinite
}

@keyframes spinner{
0%{transform:rotate(0deg)}
100%{transform:rotate(360deg)}
}
